#main {

}

label .error {
    display: block;
    color: red;
    font-style: italic;
}

.header {
    background-color: rgba(32, 32, 32, 0.87);
    
}


#container {
    text-align: center;

}

#content-img {
    background-color: black;
}

#content-musicband {
    background-color: #fff;
    padding-left: 13rem;
    padding-right: 13rem;
}

#content-tourdates {
    background-color: black;

}

#content-tourdates h4 {
    color: honeydew;
}

i {
    color: grey;
}

footer {
    text-align: center;
    padding: 25px 0;
}

.contact-message-input {
    margin: 0.6rem 3px;
}


.form-group{
    padding-top: 50rem;
}