<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width-device invitial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <style>
        .error{
            color: crimson;
            font-style: italic;
        }
    </style>
    </head>
    <body>
    <div class="container">
    <br>  <p class="text-center">Đăng nhập tài khoản mua vé <a href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com</a></p>
    <hr>


    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 500px;">
            <div class="inlineBlock">
                <h4 class="card-title mt-3 text-center" style="float: left;">Đăng nhập</h4>
                <h4 class="card-title mt-3 text-center" style="float: right;">Đăng kí</h4>
            </div>
            
            <form id="formLogin">
             <!-- form-group// -->
             <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input id="username" name="username" class="form-control" placeholder="Tên đăng nhập" type="text">
                <br>
            </div> <!-- form-group// -->
           
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input id="password" name="password" class="form-control" placeholder="Mật khẩu" type="password">
            </div> <!-- form-group// -->
            <!-- form-group// -->                                      
            <div class="form-group">
                <button type="submit" id="btnsubmit" class="btn btn-primary btn-block"> Đăng nhập</button>
            </div> <!-- form-group// -->      
            <p class="text-center">Have an account? </p>  
                                                                          
        </form>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Đăng kí</button>
        </div> 
        </article>
        </div> <!-- card.// -->

        </div> 
        <!--container end.//-->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            var submit = $("button[id='btnsubmit']");
             
            // bắt sự kiện click vào nút Login
            submit.click(function()
            {
                var numberphone = $("input[name='numberphone']").val();
                var password = $("input[name='password']").val();
                 
                // Kiểm tra đã nhập tên tài khoản chưa
                if (numberphone == '' || numberphone.length < 10) {
                    alert('Vui lòng nhập đúng số điện thoại');
                    return false;
                } 
                
                 
                // Kiểm tra đã nhập mật khẩu chưa
                if (password == '') {
                    alert('Vui lòng nhập mật khẩu');
                    return false;
                }
                 
                // Lấy tất cả dữ liệu trong form login
                var data = $('form#formLogin').serialize();
                // Sử dụng $.ajax()
                $.ajax({
                type : 'POST', //kiểu post
                url  : 'login.js', //gửi dữ liệu sang trang submit.php
                dataType : 'json',
                data: {

                },
                success :  function(data)
                       {
                            if (data == 'false')
                            {
                                alert('Sai tên đăng nhập hoặc mật khẩu');
                            } else {
                                $('#content').html(data);
                            }
                       }
                });
                return false;
            });
        });
        </script>

</body>
</html>
