<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=width-device invitial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Cart</title>
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
        <link rel="stylesheet" href="/Client/assets/css/cart.css">
    </head>

    <body>
        <div class="container">
            <h3>Giỏ hàng</h3>
            <table>
                <tr>
                  <th>Vé mua</th>
                  <th>Giá vé</th>
                  <th>Số lượng</th>
                </tr>
                <tr>
                  <td>Cua lại vợ bầu</td>
                  <td>55 000 đ</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Em chưa 18</td>
                  <td>75 000 đ</td>
                  <td>1</td>
                </tr>  
              </table>

              <button id="btncheckbill" class="form-control btn-checkbill btn btn-primary btn-block" type="submit">Thanh toán</button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(function (){
                    
                        



                });
        }); 
        </script>
    </body>
</html>